.canvas {
    background-color: white;
}


.sketchpad {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 95vw;
    height: 95vh;
    
}

.painted {
    background-color: purple;
}

.unpainted {
    background-color: white;
}

.wrapper {
    margin: auto;
    width: 100%;
}