button {
    padding: 5px;
    font-family: 'Source Code Pro', monospace;
}

.canvas {
    background-color: white;
}

p {
    font-family: 'Source Code Pro', monospace;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}

#sketchpad {
    display: grid;
    width: 95vw;
    height: 85vh;
    margin: auto;
}

.unpainted {
    background-color: white;
}

.wrapper {
    margin: auto;
    padding: 5px 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}