.canvas {
    background-color: white;
}

.sketchpad {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.painted {
    background-color: purple;
}

